.white-wiki a {
	color: #0645ad!important;
}

.white-wiki a:visited {
	color: #551a8b !important;
}

/*top billets*/

.white-wiki #p-views  .vector-menu-content a {
	background-image: linear-gradient(to top,#77c1f6 0,#e8f2f8 1px,#ffffff 100%) !important;
  background-color: transparent !important;
}

.white-wiki #p-views .vector-menu-content li.selected a {
  background-color: #ffffff !important;
}

.white-wiki #p-namespaces .vector-menu-content a {
	background-image: linear-gradient(to top,#77c1f6 0,#e8f2f8 1px,#ffffff 100%) !important;
  background-color: transparent !important;
}

#p-namespaces .vector-menu-content li.selected a {
  background-color: #ffffff !important;
}


.white-wiki.mediawiki {
	background-color:  #f6f6f6 !important;
}

.white-wiki #content {
	color: #202122 !important; 
	background-color:  #ffffff;
}

.white-wiki #mw-panel {
	background-color:  initial;
}

.white-wiki #mw-head {
	background-color:  initial;
}

/*tables*/

.white-wiki table.wide th {
	background-color: #eaf3ff !important;
}

.white-wiki .infobox {
	background-color:  initial !important;
}

.white-wiki .infobox th {
	background-color:  initial !important;
}


.white-wiki .infobox td table>tbody {
	background-color:  initial !important;
}



.white-wiki #toc {
	background-color:  initial;
}

.white-wiki blockquote {
	background-color:  initial !important;
}

.white-wiki .thumbinner {
	background-color:  initial !important;
}

.white-wiki .mwe-popups-container {
	background-color:  initial !important;
}

.white-wiki .mwe-popups-container:after {
	display:  initial !important;
}


/*problem here*/
.white-wiki .mwe-popups-extract[dir='ltr']:after {
	background-image:  initial !important;
}
/*problem here*/

.white-wiki .catlinks {
	background-color: #f8f9fa !important;
}


.white-wiki .mw-customtoggle {
	background-color: #dcebff !important;
}

/*info-billet*/

.white-wiki .ambox {
	background-color: #fbfbfb !important;
}

/*main page windows*/

.white-wiki .main-box {
	background-color: #ffffff;
}

/*table titles styling*/

.white-wiki  table.standard tbody tr th {
	background-color: #eaf3ff !important;
}